/* Global Variables */
body, html {
    background-color: #1B262C;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.hidden {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease;
}
/* Navbar */

.top-navbar {
    width: 100%;
    background-color: #1B262C;
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}
.nav-center {
    text-align: center;
    color: white; 
    width: 100%;

}
.nav-text {
    font-weight: 400;
    font-size: clamp(16px, 1.2vw, 36px);
    align-items: center;
    line-height: 48px;
    padding-left: .3rem;
    padding-right: .3rem;
    text-decoration: none;
    color: white;
}
.nav-text:hover {
    color: #BBE1FA;
}
@media screen and (max-width: 900px) {

}
/* About Me */
.about-me {
    background-image: url(IMG_3250.jpg);
    position: static;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 1em;
    margin: 3rem;
    width: clamp(30rem, 60%, 100rem);
    height: auto;
    padding: 1.5rem;
}

.about-me-self {
    background-image: url(profile_pic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    height: min(10rem, 80rem);
    width: clamp(5rem,20%,40rem);
    border-radius: 1rem;
    padding: 1.5rem;
}

.about-me-text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    color: white;
    max-width: 60%;
    max-height: 100%;
    padding: 1rem;
    background-color: rgba(15, 76, 117, .7);
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about-me-text {
    font-size: clamp(.5vm, 2%, 1.5em);
    text-align: left;
}

@media screen and (max-width: 900px) {
    .about-me-container {
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: 85%;
        width: 90%;
        padding: .5rem;
        padding-top: 2rem;

    }
    .about-me-self {
        height: 10rem;
    }
    .about-me-text-container{
        height: auto;
        max-width: 100%;

    }
    .about-me-text {
        font-size: 14px;
        text-align: center;
    }
    .about-me-title-text {
        font-size: 1.1em;
    }
}

/* Education */
.edu {
    background-color: #1B262C;
    /* padding: 2rem; */
    height: auto;
    color: white;
}
.edu-inner {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.edu-title {
    text-align: center;
    width: 100%;
}
.edu-school {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
.edu-degree {
    text-align: center;
    /* width: 90%; */
}
.edu-date {
    
}
.edu-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.edu-section {
    /* padding: 1rem; */
    width: 50%;
}
@media screen and (max-width: 900px) {
    .edu-container{
        flex-wrap: wrap;
    }
    .edu-section {
        width: 100%;
    }
}
/* Projects */
.project {
    background-color: #1B262C;
    height: 50rem;
}
/* Work Experience */
.experience {
    background-color: #1B262C;
    height: auto;
    color: white;
    padding: 2rem;
}
.exp-container {
    display: flex;
    padding: 1rem;
    flex-flow: row wrap;
}
.exp-title {
    text-align: center;
}
.exp-container-item {
    width: 50%;
}
/* Footer */
.footer {
    background-color: #1B262C;
    height: 50rem;
}